@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

*, *::after,*::before{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Familjen Grotesk", sans-serif;
    box-sizing: border-box;
    color: #fff;

}


.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 150px;
    display: block;
    margin: 0;
    padding: 0;
    
}

.logo{
    position: absolute;
    top: 34px;
    left: 86px;
    width: 214px;
    height: auto;
    float: left;
}



.inner{
    display: block;
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    float: left;
   
}

.nav {
    width: 60%;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 15px 0 0 0;
    float: left;
}
.nav ul{
    list-style: none;
    padding-top: 30px;
    padding-left: 0px;
}
.tabs{
  
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 34px;
    float: left;
    
}
.tabs li{
    display: inline-block;
	margin-right: 21px;
}
.tabs li>a{
    color: #fff;
	text-decoration: none;
}

.tabs  li>a:hover{
    text-decoration: underline;
}
.right {
    width: 20%;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 7px 0 0 0;
    float: left;
}
.right ul{
    list-style: none;
    padding-top: 20px;
    padding-left: 0px;
}
.button svg{
    margin-top: 29px;
}

.tabs1{
    
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 175px;
    float: left;

}
.tabs1 li{
    display: inline-block;
	margin-right: 21px;
    margin-top: 15px;
}
.tabs1 li>a{
    font-size: 15px;
    color: #fff;
	text-decoration: none;

}
.tabs1 li>a:hover{
    text-decoration: underline;
}

    

section{
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}
.section-inner{
    position: absolute;
    bottom: 175px;
    left: 115px;
    max-width: 560px;
}
.section-inner h4{
    font-size: 20px;
    font-weight: 300;
}
.section-inner h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-1{
    background-image: url("assets/img/img1.jpeg");

}
.section-2{
    background-image: url("assets/img/img2.jpeg");

}
.section-3{
    background-image: url("assets/img/img3.jpeg");

}
.vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-ani{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 70px;
    padding: 10px 30px;
    margin-top: 5px;
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
    
}

.btn-ani:hover span{
    color: black;
}
.btn-ani .hov{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: black;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-ani:hover .hov{
    transform: translateY(0);
}
.scroll{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}


footer{
    position: relative;
    padding: 25px 0;
    background-color: black;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}
footer ul li{
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;

}
footer ul li a{
    color: #fff;
    text-decoration: none;
}
